
body
{
   background-attachment: scroll;
   background: white;
}
h2{
    text-size-adjust: 26;
}

.navbar
{
    background: white;
}
    
.iframe
{
    width:100%;
}
.card
{
    background-color:white;
    padding:10px;
    
   
}
.btn:hover{
    color:white;
}
.btn:hover{
    background: black ;

}
.btnn
{
    margin-left:20px;
}
.boton
{
    color:whitesmoke;
    background: #8031b4;
    padding:5px;
    border-radius: 2px;
    
}
.boton:hover{
    background:black;
    color:whitesmoke;
box-shadow:     0 0 5px black,
                0 0 25px black,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
}
.carouselslide
{
    size:100vh;
}
.lcrausel{
  height:100vh;
  width:100%;
  min-height: 200px;
  background-size: cover;
  }
  .fut3
  {
      height:100%;
      background:black;
      color:white;
  }
.fut1
{
    background: rgb(39, 39, 39);
    color:white;
    font-weight: lighter;
    font-size: 14px;
    height:100%;
    width: 100%;
    margin-bottom:0%;
    font-style: unset;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}    

.fa
{   height:30px;
    padding-left:30px;
}
.jumbotron1
{
    padding-bottom: 0px;

}
.img
{
    border-radius: 300px;
    margin-top: 30px;
}
.nav-item
{
    
    padding-left:20px;
    
}
.nav-item1
{
    padding-right:20px;
}


background: no-repeat center center scroll;
background: rgb(198,206,246);
background: radial-gradient(circle, rgba(198,206,246,1) 0%, rgba(233,208,213,1) 100%);
